<div class="mb-4 px-3 strip-wrapper">
  <div class="d-flex justify-content-between align-items-center mb-2">
    <h2 class="h5 mb-0">{{ title }}</h2>
  </div>

  <div
    class="scroll-container-wrapper"
    [class.show-left]="showLeft"
    [class.show-right]="showRight"
  >
    <!-- left arrow only when you can scroll left -->
    <button
      *ngIf="showLeft"
      class="scroll-btn left"
      aria-label="Scroll left"
      (click)="scrollLeft()"
    >‹</button>

    <div
      #scrollContainer
      class="row flex-nowrap gx-2 overflow-auto scroll-container"
      tabindex="0"
      (keydown)="onKeyDown($event)"
    >

<!--      @if (loading) {
        @for (_ of skeletonItems; track _) {
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 flex-shrink-0">
              <ngx-skeleton-loader
                count="1"
                appearance="circle"
                [theme]="{
                  width: '100%',
                  'border-radius': '0.5rem'
                }"
              ></ngx-skeleton-loader>
            </div>
        }
      } @else {-->
        @for (item of items; track item.id) {
          <div class="col-6 col-sm-4 col-md-3 col-lg-2 flex-shrink-0">
            <app-video-card [item]="item"></app-video-card>
          </div>
        }
<!--      }-->
    </div>

    <!-- right arrow only when you can scroll right -->
    <button
      *ngIf="showRight"
      class="scroll-btn right"
      aria-label="Scroll right"
      (click)="scrollRight()"
    >›</button>
  </div>
</div>
