@use "bootstrap" as *;

:root {

  --header-font-family: Arial, sans-serif;
  --header-font-weight: 2rem;
  --color-text: #ffffff;
  --background-color: #3a5a73;
  --favourite-icon-color: #fff;
}

body {
  background-color: var(--background-color);
  color: var(--color-text);
}

html, body {
  font-family: var(--header-font-family), serif;
  font-size: 1.25rem;
}

